<style>

html, body {
    height: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header {
	position: fixed;
}

.main_menu li {
  margin-bottom: 20px;
  list-style-type: none;
  color: black;

}

.main_menu a {
	color: black;
	 text-decoration: none;
}

.main_menu a:hover {
	opacity: 0.4;
}


.menu {
  width: 300px;
}
.logo {
  height: 90px;
  border-radius: 50px;
}




#page-container {
min-height: 100vh;
overflow: hidden;
display: block;
position: relative;
margin-top: 30px;
}



.masonry-wrapper {
	padding: 1.5em;
	max-width: 960px;
	margin-right: auto;
	margin-left: 15%;
	position: relative;
    top: -50px;
	margin-top: 0.7%;
}
.masonry {
	columns: 5;
	column-gap: 1%;
	width: 690px;
}
.masonry-item {
	display: inline-block;
	vertical-align: top;
}

.masonry-item {
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
	transition: filter .25s ease-in-out;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.masonry-footer {
	font-size: .75em;
	opacity: .25;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-bottom: -1.5em;
	transition: opacity 1s ease-in-out;
}
.masonry-footer a {
	color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
	opacity: .75;
}
.masonry img {
	width: 100%;
}
.masonry a {
	color: white;
}

.modal-target {
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-target:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  opacity: 1 !important;
  max-width: 1200px;
}

/* Caption of Modal Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 32px;
}

/* Add Animation */
.modal-content, .modal-caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-atransform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



</style>